.box-style {
    -fx-border-color: #464646;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-background-color: #CCCCCC;
}

.header-text-style {
    -fx-font-size: 20px;
}

.main-text-style {
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}

.properties-text-style {
   -fx-font-size: 12px;
   -fx-text-inner-color: #ffffff;
}