.default-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.main-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.border {
    -fx-border-color: #cdcdcd;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-color: #cccccc
}